button {
   
   
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
  }