
.container-1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #eee;
}

.order .card {
  position: relative;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  content: "";
  display: block;
  border: 5px solid red;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: red;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon-top-right {
  top: -12px;
  right: -12px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
small {
  font-size: 12px;
}
.cart {
  line-height: 1;
}
.icon {
  background-color: #eee;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.pic {
  width: 70px;
  height: 90px;
  border-radius: 5px;
}
td {
  vertical-align: middle;
}
.red {
  color: #fd1c1c;
  font-weight: 600;
}
.b-bottom {
  border-bottom: 2px dotted black;
  padding-bottom: 20px;
}
p {
  margin: 0px;
}
table input {
  width: 40px;
  border: 1px solid #eee;
}
input:focus {
  border: 1px solid #eee;
  outline: none;
}
.round {
  background-color: #eee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: #fd1c1c;
}
.del {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
